@tailwind base;
@tailwind components;
@tailwind utilities;

/* Añade cualquier CSS global adicional aquí */
body {
    /* Opcional: Establecer un fondo base */
    background-color: #f8fafc; /* slate-50 */
}